[Unit]
Description=XPT2046 Touchscreen Driver
Before=gdm3.service
After=basic.target

[Service]
ExecStartPre=/sbin/modprobe uinput
ExecStart=/usr/bin/python3 /home/nvidia/xpt2046_input.py
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
